body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
    --font-league-spartan: "League Spartan";
  
    /* font sizes */
    --font-size-lg: 18px;
    --font-size-5xl: 24px;
    --font-size-19xl: 38px;
    --font-size-sm: 14px;
  
    /* Colors */
    --color-whitesmoke-100: #f8fafc;
    --color-whitesmoke-200: #f0f3f4;
    --color-royalblue: #0568fd;
    --color-white: #fff;
    --color-black: #000;
    --color-darkgray: #989898;
  
    /* Border radiuses */
    --br-base: 16px;
    --br-4xs: 9px;
    --br-13xl: 32px;
  }
  