.group-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-13xl);
    background-color: var(--color-white);
    width: 591px;
    height: 771px;
  }
  .logo-shapes-441 {
    width: 37.8px;
    position: relative;
    height: 59.6px;
    object-fit: cover;
    mix-blend-mode: normal;
  }
  .serv1 {
    width: 112px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    height: 32px;
    flex-shrink: 0;
  }
  .logo1 {
    position: absolute;
    top: 35px;
    left: 218px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 5px;
    text-align: left;
    font-size: var(--font-size-19xl);
    color: var(--color-royalblue);
    font-family: var(--font-league-spartan);
  }
  .hi-there-have {
    position: absolute;
    top: 120px;
    left: 82px;
    font-size: var(--font-size-5xl);
    font-weight: 600;
    display: inline-block;
    width: 428px;
    height: 25px;
  }
  .group-item {
    position: absolute;
    top: 31px;
    left: 3px;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 411px;
    height: 59px;
  }
  .user-name1 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 111px;
    height: 20px;
  }
  .group-inner,
  .rectangle-group {
    position: absolute;
    top: 211px;
    left: 79px;
    width: 414px;
    height: 90px;
  }
  .group-inner {
    top: 33px;
    left: 0;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 411px;
    height: 59px;
  }
  .rectangle-container {
    position: absolute;
    top: 339px;
    left: 82px;
    width: 411px;
    height: 92px;
    text-align: left;
  }
  .get-started-inner {
    position: absolute;
    top: calc(50% - 26px);
    left: calc(50% - 97.55px);
    border-radius: var(--br-base);
    background-color: var(--color-royalblue);
    width: 195.1px;
    height: 52px;
  }
  .log-in {
    position: absolute;
    top: 14.4px;
    left: 46.1px;
    font-weight: 600;
    display: inline-block;
    width: 102.6px;
    height: 16.9px;
  }
  .get-started2 {
    position: absolute;
    top: calc(50% + 116.5px);
    left: calc(50% - 97.5px);
    width: 195.1px;
    height: 52px;
    color: var(--color-whitesmoke-100);
  }
  .dont-have-an,
  .sign-up1 {
    width: 161px;
    position: relative;
    display: inline-block;
    height: 17px;
    flex-shrink: 0;
    z-index: 0;
  }
  .sign-up1 {
    width: 79px;
    color: var(--color-royalblue);
    z-index: 1;
  }
  .frame-child {
    width: 46px;
    position: absolute;
    margin: 0 !important;
    top: 13.5px;
    left: 177.5px;
    border-top: 1px solid var(--color-royalblue);
    box-sizing: border-box;
    height: 1px;
    z-index: 2;
  }
  .dont-have-an-account-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .frame-wrapper,
  .group-wrapper {
    position: absolute;
    width: 240px;
    height: 17px;
  }
  .frame-wrapper {
    top: 0;
    left: 0;
    cursor: pointer;
  }
  .group-wrapper {
    top: 579px;
    left: 81px;
    font-size: var(--font-size-sm);
  }
  .rectangle-parent {
    position: absolute;
    top: 183px;
    left: 568px;
    width: 591px;
    height: 771px;
  }
  .macbook-pro-16-3 {
    width: 100%;
    position: relative;
    background-color: var(--color-whitesmoke-200);
    height: 1117px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  